<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <add name="testDB" connectionString="Data Source=DESKTOP-QRMU543;Initial Catalog=timetable-migrate;Persist Security Info=True;User ID=sa;Password=MsSql2008"/>
    </connectionStrings>
</configuration>